@using Microsoft.AspNet.Identity
@if (Request.Cookies[FormsAuthentication.FormsCookieName] != null)
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Wyloguj", "Logout", "Users")</li>
    </ul>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Rejestracja", MVC.Users.Register())</li>
        <li>@Html.ActionLink("Zaloguj", MVC.Users.Login())</li>
    </ul>
}
