@model long
@{
    ViewBag.Title = "Zamówiono towar";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Towar zamówiony</h2>
<p>Dziękujemy za zakupy! Twój numer zamówienia: @Model</p>
<p>
    Zobacz inne interesujące pozycje na naszej
    @Html.ActionLink("liście", MVC.Books.Index())
</p>