@model SL.Model.Models.Orders.ShoppingCart

@{
    ViewBag.Title = "View";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>title</h2>
    <tr>
        <td>
            @foreach (var item in Model.CartItems)
            {
                @item.Books.Title
                @item.Books.Author
                @item.Count
            }
        </td>
        <td>
            @Model.CartTotal
        </td>

    </tr>